@use "colors.scss";
@use "button.scss";

@mixin mapContainerStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 70px 0px;

  & > section {
    width: 400px;
    align-self: center;

    small {
      color: colors.$dark-orange;
    }

    h1 {
      color: colors.$black;
      text-transform: uppercase;
    }

    p {
      @include colors.text-black-with-opacity(0.7);
    }

    a,
    button.addProductToCart {
      @include button.buttonStyle(
        colors.$dark-orange,
        colors.$white,
        colors.$clear-orange
      );
    }
  }
}
