@use "colors.scss";
@use "button.scss";

.cartProductContainer {
  width: 400px;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  background-color: colors.$white;

  .cartProductHeading {
    display: flex;
    justify-content: space-between;

    h1 {
      color: colors.$black;
    }

    button {
      border: none;
      background: none;
      cursor: pointer;
      @include colors.text-black-with-opacity(0.5);
      text-decoration: underline;
    }
  }

  .cartProductMap {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > div {
      display: flex;
      justify-content: space-between;

      & > div:first-of-type {
        text-align: left;
        width: 100px;
      }

      & > div:last-of-type {
        align-self: center;
        @include button.buttonHandleQuantityStyle();
      }
    }
  }
}

.cartProductCheckout {
  padding-top: 20px;

  p {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;

    &:last-of-type {
      margin-top: 30px;

      strong {
        color: colors.$dark-orange;
      }
    }
  }

  span {
    @include colors.text-black-with-opacity(0.5);
    font-weight: 600;
  }

  strong {
    color: colors.$black;
  }

  a,
  button {
    margin-top: 20px;
    display: block;
    width: 100%;

    @include button.buttonStyle(
      colors.$dark-orange,
      colors.$white,
      colors.$clear-orange
    );
  }
}
