@use "colors.scss";
@use "navlinks.scss";

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  background-color: colors.$black;
}

.navbarLinks {
  @include navlinks.navlinks-style;
}
