@use "colors.scss";
@use "button.scss";

.textTitleContainer {
  text-align: center;
  text-transform: uppercase;
  padding: 80px 0px;
  color: colors.$white;
  background-color: colors.$black;
}

.productsMapContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 50vw;
  gap: 50px;
  padding: 70px 0px;

  & > span {
    align-self: center;

    small {
      color: colors.$dark-orange;
    }

    h1 {
      color: colors.$black;
      text-transform: uppercase;
    }

    p {
      @include colors.text-black-with-opacity(0.7);
    }

    a {
      @include button.buttonStyle(colors.$dark-orange, colors.$white);
      transition: all 0.3s ease-in;

      &:hover {
        background-color: colors.$clear-orange;
        transition: all 0.3s ease-out;
        cursor: pointer;
      }
    }
  }
}

.reversedOrder {
  img {
    order: 2;
  }

  & > span {
    order: 1;
  }
}
