@use "colors.scss";
@use "button.scss";
@use "mapContainer.scss";

.textTitleContainer {
  text-align: center;
  text-transform: uppercase;
  padding: 80px 0px;
  color: colors.$white;
  background-color: colors.$black;
}

.productsMapContainer {
  width: 50vw;
  margin: 0 auto;

  & {
    @include mapContainer.mapContainerStyle();
  }
}

.reversedOrder {
  img {
    order: 2;
  }

  & > span {
    order: 1;
  }
}
