@use "colors.scss";
@use "button.scss";

.productContainer {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;

  & > div {
    background-color: colors.$dark-gray;
  }

  .productQuantityContainer {
    @include button.buttonHandleQuantityStyle();
  }
}

.productDetailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;

  div:first-of-type {
    float: left;
    width: 550px;
    text-align: justify;
  }

  h2 {
    margin-bottom: 20px;
  }

  p,
  li {
    @include colors.text-black-with-opacity(0.5);
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    span {
      color: colors.$dark-orange;
      font-weight: bold;
    }
  }
}

.productDetailGallery {
  display: flex;
  gap: 20px;
  margin-top: 100px;
  justify-content: center;

  img {
    border-radius: 15px;
  }

  & > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.productGalleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 80px;
  justify-content: center;
  text-align: center;

  img {
    width: 20vw;
    height: auto;
  }

  a {
    position: relative;
    top: 15px;

    @include button.buttonStyle(
      colors.$dark-orange,
      colors.$white,
      colors.$clear-orange
    );
  }
}
